a:hover{
	text-decoration: none !important;
}
.menu-scroll-down{
	display: none !important;
}
.site-header{
	background-color: #a4cd39;
	text-align: center;
}
.site-title{
	font-size: 40px !important;
	color: #fff;
}
.site-title a{
	color: #fff;
}
.site-title a:hover{
	text-decoration: none;
}
.site-footer{
	background-color: #243A48;
	padding: 35px 0;
}
.site-footer .wrap{	
	padding: 0;
}
.site-footer .site-info{
	width: 100%;
	padding: 0;
	margin: 0;
}
.site-footer p{
	font-size: 18px !important;
	font-weight: 700;
	color: #fff;
	text-align: center;
	margin: 0;
}
.entry-header{
	padding: 0 !important;
	margin-bottom: 30px !important;
}
.entry-header,
.entry-content{
	width: 100% !important;
}
.entry-header h1,
h2,
h3,
h4,
h5,
h6{
	color: #a4cd39 !important;
}
.entry-header .entry-title{
	font-size: 28px !important;	
	text-align: center;
}
input[type="text"]:focus{
	border-color: #a4cd39;
}
input[type="email"]:focus{
	border-color: #a4cd39;
}
input[type="password"]:focus{
	border-color: #a4cd39;
}
textarea:focus{
	border-color: #a4cd39;
}
input[type="text"],
input[type="email"],
input[type="password"],
select{
	height: 48px;
	padding: 0 15px !important;
}
textarea{
	width: 100%;
	height: 150px;
	resize: none;
}
input[type="submit"]{
	background-color: #a4cd39;
	border: 1px solid #a4cd39;
	font-size: 15px !important;
	font-weight: 700 !important;
	color: #fff;
	padding: 10px 25px !important;
}
input[type="button"],
button{
	color: #fff !important;	
	font-weight: 700 !important;
	padding: 10px 25px !important;	
}
.gform_wrapper.gf_browser_chrome input.button.gform_button_select_files {
	padding: 10px 25px !important;
}
input[type="submit"]:hover{
	background-color: #fff;
	color: #a4cd39;	
}
#theme-my-login{
	border: 1px solid #a4cd39;
	max-width: 100%;
    width: 500px;
	padding: 25px;
    margin: 0 auto;
}
#theme-my-login p.message{
	text-align: center;
}
#theme-my-login p.error{
	text-align: center;
}
#theme-my-login .tml-action-links li a{
	background-color: #a4cd39;
	border: 1px solid #a4cd39;
	box-shadow: none;
	font-size: 15px !important;
	font-weight: 700 !important;
	color: #fff;
	padding: 10px 25px !important;
}
#theme-my-login .tml-action-links li a:hover{
	background-color: #fff;
	box-shadow: none;	
	color: #a4cd39;	
}
.tml-form-table tr{
	background-color: transparent !important; 
	border-bottom: none;
}
.tml-form-table tr:first-of-type {
	background-color: transparent; 
}
.tml-form-table tr td {
	border-bottom: none;
	padding: 0;
	margin-bottom: 20px;
}
.tml-form-table span.description{
	font-size: 11px;
}
table .viewSts .statusView{
	top: 35%;
}
table .viewSts .statusView .popUpDiv{
	background-color: #fff;
	text-align: left;
	width: 500px;
    margin: 0 auto;
}
table .viewSts .statusView .popUpDivInner{
    margin: 0 auto;
    padding: 50px;
}
table .viewSts .statusView .statusViewTitle{
	font-size: 25px;
	font-weight: 500;
	color: #2e333a;	
}
table .viewSts .statusView .statusViewTitle p{
	color: #ff0000;	
	display: inline-block;
    vertical-align: top;
	margin: 0;
	margin-left: 5px;
}
table .viewSts .statusView .statusViewTitle span{
	color: #a4cd39;	
	margin-left: 5px;
}
button.close{
	color: #000 !important;
	padding: 15px 20px !important;
}
body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html{
	font-size: 12px;
	font-weight: 700;
    color: #ff0000;
} 
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]{
	margin-top: 0 !important;
}
.wrap {
	padding: 0 !important;
}
.panel-content .wrap {
	padding: 110px 0 !important;
}
.wrap .mainWrapper h1{
	text-align: center;
	margin-bottom: 30px;
}
.mainWrapper, 
.bodyWrapper{
	display: inline-block;
	width: 100%;
}
.linkWrapper {
	text-align: right;
}
.linkWrapper b{
	color: #a4cd39;
}
.linkWrapper a{
	font-weight: 700;
	color: #000;
	margin-left: 10px;
}
.linkWrapper a:hover{
	color: #a4cd39;
	text-decoration: none;
}
.linkWrapper a:focus{
	color: #a4cd39;
	text-decoration: none;
}
.linkWrapper a.currentPage{
	color: #a4cd39;
}
.dashboard table {
	border: none; 
	width: 100%;
	min-height: .01%;
    overflow-x: auto;
	margin-bottom: 50px;
}
.dashboard table a{
	color: #a4cd39;
}
.dashboard table a:hover{
	color: #337ab7;
}
.dashboard table h6{
	font-size: 12px;
    font-weight: 700;
	color: #a4cd39;
	margin: 0;
}
.dashboard table ul{
	margin: 0;
}
.dashboard table a.statusBtn{
	font-size: 12px;
    font-weight: 700;
	cursor: pointer;
}
.dashboard table tr:nth-of-type(odd) {
	background-color: #e2e5e8; 
}
.dashboard table tr:first-of-type {
	background-color: #ADB4BE; 
}
.dashboard table tr:last-of-type td {
	border: none; 
}
.dashboard table tr th {
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	padding: 10px 20px 10px 0;
	text-align: center;
}
.dashboard table tr th:last-child{ 
	text-align: right;
	padding-right: 20px; 	
}
.dashboard table tr td:first-child{
	text-align: left;
	padding: 0;
	padding-left: 20px; 	
}
.dashboard table tr td:last-child{
	text-align: right;
	padding-right: 20px; 	
}
.dashboard table tr td {
	font-size: 14px;
	font-weight: 400;
	color: #2e333a;
	padding: 10px 20px 10px 0;
	text-align: center;
}
.your-profile .tml-submit-wrap{
	margin: 0;
}
.your-profile #theme-my-login h3{
	padding: 0;
}
.gform_wrapper input.datepicker.datepicker_with_icon{
	margin-right: 8px !important;
}
.add-claim .gform_wrapper{
	border: 1px solid #a4cd39;
	max-width: 100%;
    width: 500px;
	padding: 25px;
    margin: 0 auto;
}
.add-claim .gform_wrapper .gform_footer{
	padding-bottom: 0;
}
.add-claim .gform_wrapper input[type="text"].datepicker {
    width: 94% !important;
}
.add-claim .gform_wrapper input[type="text"],
input[type="email"],
input[type="password"],
select{
	width: 100% !important;
}
.add-claim .gform_wrapper ul.gform_fields li.gfield{
	padding-right: 0;
}
.ui-datepicker-month,
.ui-datepicker-year{
	color:  #000;
	width: auto !important;
	height: auto;
	padding: 0 !important;
}
.ui-datepicker tbody td:last-child{
	padding-right: 0 !important;	
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container{
	margin-top: 8px !important;
}
.gform_wrapper li label{
	color: #000 !important;
}
.gform_wrapper li label span{
	color: #ff0000 !important;
}
.gform_wrapper li.gfield.gfield_error label{
	color: #000 !important;
}
.gform_wrapper .field_description_below .gfield_description{
	color: #ff0000 !important;
	padding-top: 5px !important;
}
.gform_wrapper .validation_error{
	color: #ff0000 !important;
	border: 1px solid #ff0000 !important;
	padding: 5px !important;
}
.gform_wrapper li.gfield.gfield_error{
	background-color: transparent;
	border: none;
	padding: 0;
}
.gform_wrapper li.gfield.gfield_error input[type="text"],
input[type="email"]{
	border: 1px solid #ff0000 !important;
}
.gform_wrapper .gform_fileupload_multifile .gform_drop_area{
	margin-bottom: 0 !important;
}
.gform_wrapper textarea{
	padding: 15px !important;
}